/*EDITOR-AREA*/
.editor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  &__charCount {
    position: absolute;
    padding-top: 40px;
    &::after {
      font-size: 36px;
      content: "/60";
    }
  }
}

.editor-click {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;

    background: #1dc1ad;
    font-size: 36px;
    outline: none;
    cursor: pointer;
    border-bottom: 6px solid #106d61;
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-right: 6px solid #106d61;
    text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.719);
    margin: 0;
    transition-duration: 0.4s;
    &:active {
      transition-duration: 0.05s;
      background: #ef929e;
      transform: rotate(4deg);
      border-bottom: 6px solid white;
      border-top: 6px solid #e23e52;
      border-left: 6px solid #e23e52;
      border-right: 6px solid white;
      outline: none;
    }
    @media (max-width: 1024px) {
      height: 160px;
      width: 160px;
    }
    @media (max-width: 800px) {
      height: 120px;
      width: 120px;
    }
    @media (max-width: 610px) {
      height: 90px;
      width: 90px;
      border-bottom: 5px solid #106d61;
      border-top: 5px solid white;
      border-left: 5px solid white;
      border-right: 5px solid #106d61;
    }
    @media (max-height: 740px) {
      margin: 10px 10px;
    }
  }
  &__image {
    height: 80px;
    width: 80px;
    @media (max-width: 1024px) {
      height: 80px;
      width: 80px;
    }
    @media (max-width: 800px) {
      height: 60px;
      width: 60px;
    }
    @media (max-width: 610px) {
      height: 40px;
      width: 40px;
    }
  }
}

.editor-form {
  &__textarea {
    font-size: 30px;
    resize: none;
    text-align: center;
    width: 800px;
    height: 200px;


    border: 40px ridge #1dc1ad;
    outline: none;
    margin: 50px;
    @media (max-width: 1024px) {
      height: 400px;
      width: 400px;
      border: 30px ridge #1dc1ad;

    }
    @media (max-width: 800px) {
      height: 300px;
      width: 300px;
      border: 20px ridge #1dc1ad;

    }
    @media (max-width: 610px) {
      height: 250px;
      width: 250px;
      border: 15px ridge #1dc1ad;

    }
    @media (max-height: 740px) {
      margin: 10px 20px;
    }
  }
}
