.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  @media (max-width: 1060px) {
    flex-direction: column;
  }
}

.editor-click {
  &__button {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    color: $blackText;
    height: 200px;
    width: 200px;
    background: $greanBlue;
    text-align: center;
    font-size: 36px;
    border: 6px solid $darkGreenBlue;
    text-shadow: $lightShadow;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $whiteText;
      text-shadow: $darkShadow;
      padding-top: 4px;
      @media (max-height: 720px) {
        padding-top: 0;
      }
    }
    &:active {
      background: $pink;
      border: 6px solid $red;
    }
    @media (max-width: 1060px) {
      height: 180px;
      width: 180px;
    }
    @media (max-width: 320px) {
      height: 160px;
      width: 160px;
    }
    @media (max-height: 820px) {
      grid-template-rows: 1fr;
      height: 56px;
    }
  }
  &__image {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    padding: 0;
    @media (max-height: 820px) {
      display: none;
    }
  }
}

.editor-form {
  width: 400px;
  height: 400px;
  color: $blackText;
  margin: 0;
  border: 6px solid $darkGreenBlue;
  @media (max-width: 1060px) {
    height: 300px;
    width: 300px;
  }
  @media (max-width: 320px) {
    height: 250px;
    width: 250px;
  }
  &__textarea {
    width: 100%;
    height: 100%;
    font-size: 30px;
    resize: none;
    text-align: center;
    background: $whiteText;
    padding: 10px 20px;
    outline: none;
    overflow: hidden;
  }
}
