.footer {
  background: $greanBlue;
  height: 46px;
  width: 100%;
  border-top: 4px ridge $greanBlue;
  margin: 0;
  padding: 0;
  &__description {
    text-align: center;
    font-size: 28px;
    text-shadow: $lightShadow;
    padding: 3px 0 0;
    margin: 0 auto;
    @media (max-width: 410px) {
      font-size: 0;
    }
  }
  &__link {
    animation: flicker 1s linear infinite alternate;
    color: $whiteText;
    text-shadow: $darkShadow;
    @media (max-width: 410px) {
      font-size: 28px;
    }
  }
}

@keyframes flicker {
  from {
    text-decoration: underline;
  }
  to {
    text-decoration: none;
  }
}
