@import "~normalize.css";

/*RESET-m.korsan idea*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*BODY AND MAIN*/
.body {
  background-image: url("/src/assets/img/mlu__background.png");
  color: greenyellow;
}
.main {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor {
  height: 596px;
  width: 386px;
  border: 4px solid greenyellow;
  border-radius: 30px;
  background: white;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 80px;
  width: 100vw;
  &--special {
    height: 596px;
    width: 386px;
  }
}
